<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head th:replace="fragments/head :: head">
</head>
<body>
<main role="main" class="container">
    <h1>Memorator - Application for mem generation</h1>
    <p class="lead">Create you custom mem simple and quickly.
        Follow three simple step to generate you mem</p>
    <ul>
        <li>Select mem image</li>
        <li>Write joke phrase</li>
        <li>Share you mem to Telegram, or download by image.</li>
    </ul>
</main>
</body>
</html>